body{
    background-color:white;
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif
    
}
.container {
    padding: 10px;
    width: 70%;
    text-align: left;
    border: 1px solid cadetblue;
    margin: 0 auto;

}
.container .cabecera{
    box-shadow: 5px 5px 5px 5px gold;
    background-color: blueviolet;
    margin: 0%;
    padding: 0%;
    color: white;
    font-size: 35px;
    border: 2px solid gold;
    font-weight: bolder;
}
.container .cabecera span{
    font-size: 25px;
    display: flex;
    justify-content: flex-end;

}